<po-container>
  <div class="po-wrapper">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th *ngFor="let column of columns">
            {{ column.label }} <!-- Exiba o conteúdo da coluna aqui -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="openModal(item)" *ngFor="let item of medicoes">
          <td *ngFor="let column of columns">
            {{ item[column.property] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</po-container> 
  <po-modal p-title="Aprovação de Medição" [p-primary-action]="confirm" [p-secondary-action]="close">
    <form #optionsForm="ngForm">
      <div class="input-group input-group-sm  mb-3">
        <div class="col-4">
          <po-input  p-label="Contrato"  ></po-input>
        </div>
        <div class="col-1"></div>
        <div class="col-4 ">
          <po-input  p-label="Valor" ></po-input>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <po-input  p-label="Moeda"  ></po-input>
        </div>
      </div>
    </form>
    <po-modal-footer [p-disabled-align]="false">
      <po-button p-danger="true" p-label="Close" (click)="closeModal()">Close</po-button>
      <po-button p-label="Clear" (click)="restore()">Clear</po-button>
      <po-button p-kind="primary" p-label="Confirm" (click)="processOrder()">Confirm</po-button>
    </po-modal-footer>
  </po-modal>
